.home-layout-move-to-left {
  animation: move-to-left .6s ease both;
}

.home-layout-move-from-left {
  animation: move-from-left .6s ease both;
}

.home-layout-move-to-right {
  animation: move-to-right .6s ease both;
}

.home-layout-move-from-right {
  animation: move-from-right .6s ease both;
}


/********************************* keyframes **************************************/

@keyframes move-to-left {
  from { }
  to { transform: translateX(-100%); }
}

@keyframes move-from-left {
  from { transform: translateX(-100%); }
}

@keyframes move-to-right {
  from { }
  to { transform: translateX(100%); }
}

@keyframes move-from-right {
  from { transform: translateX(100%); }
}